.players-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;

  .player-table-container {
    width: 900px;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 0.5rem;

    th,
    td {
      padding: 0.5rem;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      // min-width: 80px;
    }
  }
}

.table-header {
  background: linear-gradient(
    to right,
    #00ff87,
    #02efff,
    #627bff,
    // rgba(2, 239, 255, 0)
  );
  th:first-child {
    text-align: left;
  }
}

.player-cell {
  display: flex;
  align-items: center;
  min-width: 300px;
  img {
    width: 2rem;
  }
}
.player-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8em;
  margin-left: 1em;
}

.player-pos {
  display: flex;
  p {
    font-size: 0.8em;
  }
  p:first-child {
    font-style: italic;
    margin-right: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.table-row:hover {
  background-color: #dfdfe0;
}
