.app-header {
  display: flex;
  width: 100%;
  padding: 10px;

  .app-header-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1.5rem;
    a {
      padding: 0.6em;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.logo {
  text-decoration: none;
}

.bm-burger-button {
  display: none;
}
