.app-header {
  grid-area: app-header;
  display: flex;
  width: 100%;
  padding: 10px;
  font-weight: 400;

  .nav-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1.5rem;
    a {
      padding: 0.6em;
    }
    a:hover {
    }
  }
}

.active {
  font-weight: 600;
  background-color: rgba(168, 239, 255, 0.9);
  border-radius: 16px;
}

.logo {
  text-decoration: none;
  background-color: #fff;
}
.logo {
  background-color: white;
}
.bm-burger-button {
  display: none;
}
.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .app-header {
    display: flex;
    background-color: #1e1e1e;
    min-width: 100%;
    flex-direction: column;
    /* display: none; */
    height: 72px;
    align-items: center;
    justify-content: center;
  }
  .mobile {
    display: block;
    grid-area: appHeaderMobile;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    // height: 60px;
    background-color: #1e1e1e;
    color: white;
    z-index: 1000;
    & > * {
      padding: 10px;
      //   padding: 5px;
    }
  }
  .logo {
    background-color: #1e1e1e;
  }
}
