@media (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  right: 10px;
  top: 15px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 90%;
  max-width: 180px;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 0em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  margin-bottom: 8px;
  &:active {
    list-style: none;
  }
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
