html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "contacto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}
h3 {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    // text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 0px;
  scrollbar-color: #dfd5e2 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4545454a;
  border-radius: 8px;
  border: 1px solid #ffffff;
}
