// Colors
$clr0: #fff;
$clr1: rgb(250, 33, 33);
$clr2: rgb(240, 165, 26);
$clr3: rgb(55, 0, 60);
$clr4: rgb(5, 240, 255);
$clr5: rgb(98, 123, 255);
$clr10: #000;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
