.teams {
  .team-card {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: rgb(229, 231, 235);
    font-size: 0.8em;
    border-radius: 0.5rem;
    cursor: pointer;

    img {
      width: 3em;
      margin-right: 0.5em;
    }
  }

  h2 {
    text-align: center;
    padding-bottom: 0.5em;
  }
}
